.blue-highlight() { background: -moz-linear-gradient(top, #f2f7f9 0%,#def0f9 50%,#d7e8ef 51%,#c0e2f9 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f7f9), color-stop(50%,#def0f9), color-stop(51%,#d7e8ef), color-stop(100%,#c0e2f9)); background: -webkit-linear-gradient(top, #f2f7f9 0%,#def0f9 50%,#d7e8ef 51%,#c0e2f9 100%); background: linear-gradient(top, #f2f7f9 0%,#def0f9 50%,#d7e8ef 51%,#c0e2f9 100%); }
.sky-gradient() { background: -moz-linear-gradient(top, #2987E6 0%,#72D0ED 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2987E6), color-stop(100%,#72D0ED)); background: -webkit-linear-gradient(top, #2987E6 0%,#72D0ED 100%); background: linear-gradient(top, #2987E6 0%,#72D0ED 100%); }
.button-gradient() { background: -moz-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); background: linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); }
.high-impact-button-gradient() { background: #87e0fd; /* Old browsers */ background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */ background: linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */ }
.card-gradient() { background: -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); background: linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); }
.nav-gradient() { background: #2987e6; /* Old browsers */ background: -moz-linear-gradient(left, #2987e6 15%, #cbebff 45%, #cbebff 55%, #2987e6 85%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right top, color-stop(15%,#2987e6), color-stop(45%,#cbebff), color-stop(55%,#cbebff), color-stop(85%,#2987e6)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(left, #2987e6 15%,#cbebff 45%,#cbebff 55%,#2987e6 85%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(left, #2987e6 15%,#cbebff 45%,#cbebff 55%,#2987e6 85%); /* Opera11.10+ */ background: -ms-linear-gradient(left, #2987e6 15%,#cbebff 45%,#cbebff 55%,#2987e6 85%); /* IE10+ */ background: linear-gradient(left, #2987e6 15%,#cbebff 45%,#cbebff 55%,#2987e6 85%); /* W3C */ }

@card-width: 128px;
.card-object-size(@card-width) {
    width: 30*(@card-width/128);
    height: 30*(@card-width/128);
    background-image: url(/images/shapes.png);
    background-size: (572/2*(@card-width/128)) (188/2*(@card-width/128));
    background-repeat: no-repeat;
}

.card-object-mask-position-y(@shading, @card-width) {
    -webkit-mask-position-y: 32 * -@shading;
}
.card-object-mask-position-x(@shape, @card-width) {
    -webkit-mask-position-x: 32 * -@shape;
}

.card-object-background-position-y(@shading, @card-width) {
    background-position-y: 32 * -@shading * (@card-width/128);
}
.card-object-background-position-x(@color, @shape, @card-width) {
    background-position-x: 32 * (-3*@color - @shape) * (@card-width/128);
}
.card-object-background-position(@color, @shape, @shading, @card-width) {
    background-position: (32 * (-3*@color - @shape) * (@card-width/128)) (32 * -@shading * (@card-width/128));
}

/* reset CSS: from http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
/* remember to define focus styles! */
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
button { background: transparent; border: none; margin: 0; }
/* end reset CSS */

/* main.css */

body { background: rgb(191,234,244); font-family: arial;}
.background-container { }
.outer-container { margin: 0 auto; position: relative; }

@media screen and (min-width: 1024px) {
    .outer-container { width: 1024px; }
}
@media screen and (max-width: 1024px) {
    .outer-container { width: 100%; }
}

header { background: #2987E6; padding: 12px 0;  }
nav { background: #2987E6;
    div { .nav-gradient(); margin: 0 auto; text-align: center; }
    .how-to-play-btn { color: #394747; cursor: pointer; font-size: 1.2em; padding: 4px 8px;
        &:hover { color: #222; }
    }
    #restart-game-btn { color: #394747; cursor: pointer; font-size: 1.2em; padding: 4px 8px; position: relative;
        .waiting { color: #BFEAF4; display: none; font-size: 0.8em; left: -60px; padding: 3px 10px; position: absolute; top: 32px; width: 200%; }
        &:hover { color: #222; }
        &.selected { .blue-highlight();
            .waiting { display: block; }
        }
    }
}

@media screen and (min-width: 1024px) {
    nav div { width: 1024px; }
}
@media screen and (max-width: 1024px) {
    nav div { width: 100%; }
}

article { position: relative; }
footer { border-top: solid 1px #666; color: #666; font-weight: bold; padding: 12px; text-align: center;
    a { color: #2987E6; }
}

article {
    .share-widgets { background: rgba(255, 255, 255, 0.3); padding: 12px 12px 19px; 
        .share-widget { margin-top: 8px; }
        .share-widget.twitter-share-button-container { margin-top: 15px; }
    }
}
@media screen and (min-width: 481px) {
    article {
        .share-widgets { border-radius: 0 5px 5px 0; position: fixed; left: 0; top: 20px; }
    }
}

h1 { text-align: center; }
#game-container { background: transparent url(/images/board.png) no-repeat center 69px; background-size: 516px 461px; min-height: 520px; overflow:auto; position: relative; }

#tmp { display: none; }

/* game controls */
.game-controls { margin-top: 10px; text-align: center; }

@media screen and (min-width: 481px) {
    #restart-game-btn:hover .button {
        .icon { display: none; }
        .help-text { display: block; }
    }
}


#draw-cards-btn { background: transparent; display: inline-block; padding: 0;
    .deck { background: #606D73; height: 80px; border-radius: 5px; display: block;
        .top-card { .button-gradient(); border-radius: 5px; display: block; height: 64px; width: 128px;
            .logo { background: transparent url(/images/logo.png) no-repeat center center; background-size: 110px; display: block; height: 64px; width: 128px; }
            .help-text { color: #394747; display: none; font-size: 24px; height: 64px; padding-top: 20px; width: 128px; }
        }
    }
    &.selected .deck .top-card { .blue-highlight(); }
    progress { margin-bottom: 4px; width: 128px; }
}

@media screen and (min-width: 481px) {
    #draw-cards-btn:hover .deck .top-card {
        .logo { display: none; }
        .help-text { display: block; }
    }
}

#end-game-btn.selected { .blue-highlight(); }

/* game elements */
.card-container .json { display:none; }
.card-container .card-img {display:none;}

.card(@card-width) {
    border-radius: @card-width * 0.08; box-shadow: 6px 8px 26px #4F93B0; height:@card-width * (64.0/128 - 16.0/128); padding-top: @card-width * (16.0/128); text-align: center; width: @card-width;
    .card-gradient();
    .card-object { display: inline-block; margin:1px; .card-object-size(@card-width); }
    .card-object {
        /*
        &.color0.shape0 { .card-object-background-position-x(0, 0, @card-width); }
        &.color0.shape1 { .card-object-background-position-x(0, 1, @card-width); }
        &.color0.shape2 { .card-object-background-position-x(0, 2, @card-width); }
        &.color1.shape0 { .card-object-background-position-x(1, 0, @card-width); }
        &.color1.shape1 { .card-object-background-position-x(1, 1, @card-width); }
        &.color1.shape2 { .card-object-background-position-x(1, 2, @card-width); }
        &.color2.shape0 { .card-object-background-position-x(2, 0, @card-width); }
        &.color2.shape1 { .card-object-background-position-x(2, 1, @card-width); }
        &.color2.shape2 { .card-object-background-position-x(2, 2, @card-width); }
        */
        &.color0.shape0.shading0 { .card-object-background-position(0, 0, 0, @card-width); }
        &.color0.shape0.shading1 { .card-object-background-position(0, 0, 1, @card-width); }
        &.color0.shape0.shading2 { .card-object-background-position(0, 0, 2, @card-width); }
        &.color0.shape1.shading0 { .card-object-background-position(0, 1, 0, @card-width); }
        &.color0.shape1.shading1 { .card-object-background-position(0, 1, 1, @card-width); }
        &.color0.shape1.shading2 { .card-object-background-position(0, 1, 2, @card-width); }
        &.color0.shape2.shading0 { .card-object-background-position(0, 2, 0, @card-width); }
        &.color0.shape2.shading1 { .card-object-background-position(0, 2, 1, @card-width); }
        &.color0.shape2.shading2 { .card-object-background-position(0, 2, 2, @card-width); }
        &.color1.shape0.shading0 { .card-object-background-position(1, 0, 0, @card-width); }
        &.color1.shape0.shading1 { .card-object-background-position(1, 0, 1, @card-width); }
        &.color1.shape0.shading2 { .card-object-background-position(1, 0, 2, @card-width); }
        &.color1.shape1.shading0 { .card-object-background-position(1, 1, 0, @card-width); }
        &.color1.shape1.shading1 { .card-object-background-position(1, 1, 1, @card-width); }
        &.color1.shape1.shading2 { .card-object-background-position(1, 1, 2, @card-width); }
        &.color1.shape2.shading0 { .card-object-background-position(1, 2, 0, @card-width); }
        &.color1.shape2.shading1 { .card-object-background-position(1, 2, 1, @card-width); }
        &.color1.shape2.shading2 { .card-object-background-position(1, 2, 2, @card-width); }
        &.color2.shape0.shading0 { .card-object-background-position(2, 0, 0, @card-width); }
        &.color2.shape0.shading1 { .card-object-background-position(2, 0, 1, @card-width); }
        &.color2.shape0.shading2 { .card-object-background-position(2, 0, 2, @card-width); }
        &.color2.shape1.shading0 { .card-object-background-position(2, 1, 0, @card-width); }
        &.color2.shape1.shading1 { .card-object-background-position(2, 1, 1, @card-width); }
        &.color2.shape1.shading2 { .card-object-background-position(2, 1, 2, @card-width); }
        &.color2.shape2.shading0 { .card-object-background-position(2, 2, 0, @card-width); }
        &.color2.shape2.shading1 { .card-object-background-position(2, 2, 1, @card-width); }
        &.color2.shape2.shading2 { .card-object-background-position(2, 2, 2, @card-width); }
    }
}

.card {
    .card(@card-width);
}

.cards-in-play { height: 398px; margin: 10px auto 0; overflow:hidden; padding:6px 43px 6px 53px; width:420px; }
.cards-in-play .card { float:left; margin:2px; overflow:hidden; }
.cards-in-play .card:hover { /*background: -webkit-linear-gradient(top, #fcf2b8 0%,#fce24e 50%,#f9d400 51%,#f7ed91 100%);*/ }
.cards-in-play .card.selected { .blue-highlight(); }
.cards-in-play .card.number0 .card-object { }
.cards-in-play .card.number1 .card-object { }
.cards-in-play .card.number2 .card-object { }

@media screen and (min-width: 481px) {
    .players { position: absolute; left: 0; top: 75px; width: 250px;
        .player{ background: #BFEAF4; border-radius: 18px; font-family: Arial; float: left; margin: 6px; padding: 12px; position: relative;
            &:nth-of-type(2n) { top: 4px; }
            &:nth-of-type(3n) { top: -4px; }
            .background { background: url(/images/balloons.png); background-size: 75px 48px; display: inline-block; height: 16px; margin-right: 6px; width: 15px; }
            &[color="0"] { .background { background-position: 0px 0; } }
            &[color="1"] { .background { background-position: -15px 0; } }
            &[color="2"] { .background { background-position: -30px 0; } }
            &[color="3"] { .background { background-position: -45px 0; } }
            &[color="4"] { .background { background-position: -60px 0; } }
            &[color="5"] { .background { background-position: 0px -16px; } }
            &[color="6"] { .background { background-position: -15x -16px; } }
            &[color="7"] { .background { background-position: -30px -16px; } }
            &[color="8"] { .background { background-position: -45px -16px; } }
            &[color="9"] { .background { background-position: -60px -16px; } }
            &[color="10"] { .background { background-position: 0px -32px; } }
            &[color="11"] { .background { background-position: -15px -32px; } }
            &[color="12"] { .background { background-position: -30px -32px; } }
            &[color="13"] { .background { background-position: -45px -32px; } }
            &[color="14"] { .background { background-position: -60px -32px; } }
        }
    }
}

@media screen and (max-width: 480px) {
    h1 img { width: 300px; }
}

@media screen and (max-width: 480px) {
    .players { display: none; }
}

@media screen and (min-width: 481px) {
    .balloons { height: 400px; position: absolute; right: 12px; top: 12px; width: 220px;
        .balloon {
            bottom: 0; position: absolute;
            -moz-transition: bottom 1s ease-in-out; -webkit-transition: bottom 1s ease-in-out;
            .background { background: url(/images/balloons.png); height: 59px; margin: 0 auto; width: 53px; }
            .name { background: rgba(232, 247, 255, 0.8); border: solid 2px #73858C; font-family: Arial; font-size: 14px; padding: 2px 4px; position: relative; text-align: center; top: -2px; }
            &[color="0"] { left: 0; .background { background-position: -1px 0; } }
            &[color="1"] { left: 55px; .background { background-position: -55px 0; } }
            &[color="2"] { left: 110px; .background { background-position: -109px 0; } }
            &[color="3"] { left: 11px; .background { background-position: -163px 0; } }
            &[color="4"] { left: 66px; .background { background-position: -217px 0; } }
            &[color="5"] { left: 121px; .background { background-position: -1px -61px; } }
            &[color="6"] { left: 22px;.background { background-position: -55px -61px; } }
            &[color="7"] { left: 77px;.background { background-position: -109px -61px; } }
            &[color="8"] { left: 132px;.background { background-position: -163px -61px; } }
            &[color="9"] { left: 33px;.background { background-position: -217px -61px; } }
            &[color="10"] { left: 88px;.background { background-position: -1px -122px; } }
            &[color="11"] { left: 143px;.background { background-position: -55px -122px; } }
            &[color="12"] { left: 44px;.background { background-position: -109px -122px; } }
            &[color="13"] { left: 99px;.background { background-position: -163px -122px; } }
            &[color="14"] { left: 154px;.background { background-position: -217px -122px; } }
        }
    }
}
@media screen and (max-width: 480px) {
    .balloons { display: none; }
}

.game-end-overlay-container { height: 0; left: 0; position: fixed; top: 0; text-align: center; width: 100%; }
.game-end-overlay { background: #fcfff4; font-family: Verdana; margin: 48px auto 0; padding: 22px 38px; width: 500px;
    background: -webkit-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); }
.game-end-overlay .name { }
.game-end-overlay .score { }
.game-end-overlay .winners {  }
.game-end-overlay .winners .winner { margin-top: 6px; }
.game-end-overlay .champion { font-size: 1.6em; margin: 0 auto; }
.game-end-overlay .runner-up { font-size: 1.2em; }
.game-end-overlay .runner-up.first { }
.game-end-overlay .runner-up.second { }
.game-end-overlay .close { margin-top: 22px; }

.name-form-overlay-container { height: 100%; left: 0; position: absolute; top: 0; width: 100%;
    .name-form-overlay { background: #E3F6FC; border: solid 12px white; border-radius: 12px; box-shadow: 0px 0px 26px #4F93B0; height: 250px; margin: 100px auto 0; max-width: 400px; padding: 24px 12px; text-align: center;
        h3 img { width: 300px; }
        h4 { color: #666; font-size: 18px; margin: 12px auto 0; width: 330px; }
        #name-change-form { margin-top: 24px;
            label { font-size: 22px; }
            #name-field { border: solid 3px #BFEAF4; font-size: 22px; margin-left: 12px; padding: 4px; width: 200px; }
            #change-name-btn { .high-impact-button-gradient(); color: #E3F6FC; font-size: 24px; margin-top: 12px; padding: 6px 24px; }
        }
    }
}

@media screen and (max-width: 480px) {
    .name-form-overlay-container {
        h3 img { width: 200px; }
        h4 { font-size: 16px; margin-top: 6px }
        .name-form-overlay {
            margin-top: 0;
        }
    }
}



.instructions-overlay-container {
    h2 { font-size: 1.7em; }
    h3 { font-size: 1.2em; padding-left: 12px;
        &.ui-state-default:before { content: "\25B8  " }
        &.ui-state-active:before { content: "\25BE  " }
    }
    p { line-height: 1.4em; margin-bottom: 12px; }
    .menu {
        .menu-item {
        }
    }
    .trio { display: inline-block; height: 210px; margin: 16px; width: 130px;
        .card {
            .card-object { }
        }
        &.false { }
    }
    .correct { background: url(/images/check-green.png) no-repeat center center; background-size: 16px; height: 16px; margin-bottom: 12px; }
    .incorrect { background: url(/images/red-x.png) no-repeat center center; background-size: 16px; height: 16px; margin-bottom: 12px; }
}


.game-controls {  }

#chat {
    font-family: arial; margin:0 auto 0; padding: 12px 24px ; width: 600px;
    .chat-form {
        label { font-weight: bold; }
        .msg { background: transparent; border: 0; font-size: 16px; padding: 4px; width:350px; }
    }
    .chat-msgs { height: 250px; overflow: auto;
        .chat-msg {
            margin:5px 0 0;
            .sender { background:#E1F3F7; border-radius:3px; display:inline-block; margin:0 7px 0 0; padding:4px 5px; }
            .msg { display:inline-block;
                .cards { display:inline-block;
                    .card { border: solid 3px; }
                    &.set { .card { border-color:#d2ff52 #4FED44 #4FED44 #d2ff52; } }
                    &.false-set { .card { border-color:#FFA435 #e73827 #e73827 #FFA435; } }
                }
            }
        }
    }
}
#chat .chat-msgs .chat-msg .msg .cards .card { display:inline-block; .card(64px); }

@media screen and (max-width: 480px) {
    #chat { width: 300px; }
}

.background-container { position: relative; }

@import url(/css/animations.css);
.sky { .sky-gradient(); height: 500px; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; }
@media screen and (min-width: 481px) {
    .moon { background: url(/images/moon.png) repeat-x 0 0; background-size: 100% 100%; top: 50px; height: 70px; right: 180px; position: absolute; width: 70px; z-index: -1; }
    .cloud-1 {
        background: url(/images/cloud-1.png) repeat-x 0 0; top: 287px; height: 430px; left: 0; position: absolute; width: 100%; z-index: -1;
        -webkit-animation: cloud1 280s infinite normal;
        -webkit-animation-timing-function: linear;
    }
    .cloud-2 {
        background: url(/images/cloud-2.png) repeat-x 0 0; top: 336px; height: 381px; left: 0; position: absolute; width: 100%; z-index: -1;
        -webkit-animation: cloud2 240s infinite normal;
        -webkit-animation-timing-function: linear;
    }
    .cloud-3 {
        background: url(/images/cloud-3.png) repeat-x 0 0; top: 382px; height: 335px; left: 0; position: absolute; width: 100%; z-index: -1;
        -webkit-animation: cloud3 200s infinite normal;
        -webkit-animation-timing-function: linear;
    }
}

