.instruction-rule-text If two cards have the same shape, but the third card has a different shape, then it is not a valid set
.trio.false
  .incorrect
  - var cards = [{ attributes: [1,1,1,2] }, { attributes: [0,1,1,1] }, { attributes: [0,1,1,0] }]
  - each card in cards
    include ../card
.trio.false
  .incorrect
  - var cards = [{ attributes: [1,0,0,2] }, { attributes: [1,1,0,2] }, { attributes: [0,2,0,2] }]
  - each card in cards
    include ../card
.trio.false
  .incorrect
  - var cards = [{ attributes: [1,0,2,0] }, { attributes: [1,1,2,2] }, { attributes: [2,2,2,1] }]
  - each card in cards
    include ../card
.trio.false
  .incorrect
  - var cards = [{ attributes: [2,1,1,0] }, { attributes: [0,2,0,0] }, { attributes: [2,0,2,0] }]
  - each card in cards
    include ../card