extends layout

block content
  #fb-root
  script
    // Googple Plus One
    (function() { var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/plusone.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); })();
    // Facebook Like
    (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=273726349334428"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
    // Twitter Share Button
    (function() { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//platform.twitter.com/widgets.js'; var s0 = document.getElementsByTagName('script')[0]; s0.parentNode.insertBefore(s, s0); })();
  header
    h1
      img(src="/images/logo.png", alt="Tttrio - A fast real-time multiplayer pattern-matching game to hone your logical skills" )
  .background-container
    .sky
    .moon
    .cloud-1
    .cloud-2
    .cloud-3
    .outer-container
      article
        .balloons
        #game-container
          .cards-in-play
          .players-container
        #chat
          form.chat-form
            input.sender(type="hidden")
            label Chat: 
            input.msg(type="text", placeholder="Start typing here...")
          ul.chat-msgs
        //
          .share-widgets
            .share-widget.fb-like-container
              .fb-like(data-href='http://tttrio.com', data-send="true", data-width="300", data-show-faces="true")
            .share-widget.g-plusone-container
              .g-plusone(href='http://tttrio.com', data-annotation="inline", data-width="300")
            .share-widget.twitter-share-button-container
              a(data-url='http://tttrio.com', href="https://twitter.com/share", class="twitter-share-button", data-count="horizontal") Tweet
  footer
    nav
      button(class="how-to-play-btn") How to Play
      //
        button(class='games-list-btn') Private Game
        ul.games
          - each game in games
            include game-link
      script
        $(document).ready(function() {
          var eventEngine = new EventEngine();
          new EventEngineHttpClient(eventEngine, {
            onInitialized: function() {
              $('.js-create-game').click(function(event) {
                eventEngine.fire('client:game:new', {});
              });
              eventEngine.observe('server:game:new', function(event) {
                $('.games').append(jadeTemplates.render('game-link', { game: event.data.game }));
              });
            }
          });
        });
    | Made by
    a(href="http://www.lorenyu.com", target="_blank") Loren Yu
  .name-form-overlay-container
    include name-form-overlay
  .instructions-overlay-container.collapsed(title="How to Play")
    include instructions
  script
    $(document).ready(function() {
      
      $('.how-to-play-btn').click(function() {
          $('.instructions-overlay-container').removeClass('collapsed').addClass('expanded');
      });

      var gameId = #{game.id};

      var eventEngine = new EventEngine();
      $('#chat').chat(eventEngine, {
        channel: 'game' + gameId
      });
      new EventEngineHttpClient(eventEngine, {
        onInitialized: function() {
          var game = new Game(eventEngine, gameId);
        }
      });

      eventEngine.observeAll(function(event) {
        log('received event:' + event.name + ', data=' + JSON.stringify(event.data));
      });
      
    });