.game-end-overlay(style="display:none;" )
  ol(class="winners")
    li.winner.champion
      span.name
      | wins with
      span.score
      | points!
    li.winner.runner-up.first
      span.name
      | is runner up with
      span(class="score")
      | points!
    li.winner.runner-up.second
      span(class="name")
      | is second runner up with
      span(class="score")
      | points!
  button(class="close") Close