extends layout

block content
  h1 Games
  button.js-create-game + New Game
  script
    $(document).ready(function() {
      var eventEngine = new EventEngine();
      new EventEngineHttpClient(eventEngine, {
        onInitialized: function() {
          $('.js-create-game').click(function(event) {
            eventEngine.fire('client:game:new', {});
          });
        }
      });
    });
    