- placeholder.define('title', 'Nurd')
- placeholder.define('subtitle', 'an online real-time multiplayer pattern matching game by Loren Yu')

section.login
    form
        input(type="input", name="username")
        input(type="submit", class="btn", value="Enter")
    a.btn(href="/profiles") Manage Profiles
        strong Coming Soon