#instructions.instructions
  .corner-close-overlay-button.close-overlay-button close
  - var prevButtonDisabled = true
  include instructions/page
    .instruction-sub-heading Find sets of three cards
    .example-cards
      - var cards = [{ attributes: [0,0,2,0] }, { attributes: [1,1,0,1] }, { attributes: [2,2,1,2] }]
      - each card in cards
        .example-card
          include card
    .instruction-rule-text The three cards you find need to follow certain rules...
  - var prevButtonDisabled = false
  include instructions/page
    .instruction-sub-heading Rule 1: Color
    include instructions/same-color
  include instructions/page
    include instructions/different-color
  include instructions/page
    include instructions/wrong-color
  include instructions/page
    .instruction-sub-heading Rule 2: Shape
    include instructions/same-shape
  include instructions/page
    include instructions/different-shape
  include instructions/page
    include instructions/wrong-shape
  include instructions/page
    .instruction-sub-heading Rule 3: Number
    include instructions/same-number
  include instructions/page
    include instructions/different-number
  include instructions/page
    include instructions/wrong-number
  include instructions/page
    .instruction-sub-heading Rule 4: Fill
    include instructions/same-fill
  include instructions/page
    include instructions/different-fill
  include instructions/page
    include instructions/wrong-fill
  include instructions/page
    .instruction-sub-heading Correct sets make your balloon go up
    .trio
      .correct
      - var cards = [{ attributes: [0,0,2,0] }, { attributes: [1,0,2,1] }, { attributes: [2,0,2,2] }]
      - each card in cards
        include card
    .right-arrow ⇒
    .balloon-going-up
      .up-arrow ⇡
      - var name = 'You'
      include balloon
  include instructions/page
    .instruction-sub-heading Incorrect sets make your balloon go down
    .trio
      .incorrect
      - var cards = [{ attributes: [2,2,1,1] }, { attributes: [0,0,1,1] }, { attributes: [1,2,1,1] }]
      - each card in cards
        include card
    .right-arrow ⇒
    .balloon-going-down
      - var name = 'You'
      include balloon
      .down-arrow ⇣
  - var nextButtonDisabled = true
  include instructions/page
    .instruction-rule-text You are ready to play!
    .start-playing-button.close-overlay-button Start Playing
script
  (function() {
    var $pages = $('#instructions .instructions-page')
      , numPages = $pages.length
      , activePageIndex = 0;
    $($pages.get(activePageIndex)).addClass('active');

    $('#instructions .instructions-page').find('.instructions-prev-page-button').not('.disabled').click(function() {
      if (activePageIndex > 0) {
        $($pages.get(activePageIndex)).removeClass('active');
        activePageIndex--;
        $($pages.get(activePageIndex)).addClass('active');
      }
    });
    $('#instructions .instructions-page').find('.instructions-next-page-button').not('.disabled').click(function() {
      if (activePageIndex < numPages - 1) {
        $($pages.get(activePageIndex)).removeClass('active');
        activePageIndex++;
        $($pages.get(activePageIndex)).addClass('active');
      }
    });

    $('#instructions .close-overlay-button').click(function() {
      $($pages.get(activePageIndex)).removeClass('active');
      activePageIndex = 0;
      $($pages.get(activePageIndex)).addClass('active');
      $(this).parents('.instructions-overlay-container').removeClass('expanded').addClass('collapsed');
    });
  })();
