.instructions
  ul.menu
    li.menu-item
      a(href="#instructions-rules") Rules
    li.menu-item
      a(href="#instructions-game-controls") Game Controls
  section#instructions-rules.rules
    h2 Rules
    h3 Color
    .color-rules
      .trio
        .correct
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
      .trio
        .correct
        .card.card-object.shape0.color1.shading2
          span.card-object.shape0.color1.shading2
        .card.card-object.shape0.color1.shading2
          span.card-object.shape0.color1.shading2
        .card.card-object.shape0.color1.shading2
          span.card-object.shape0.color1.shading2
      .trio
        .correct
        .card.card-object.shape0.color2.shading2
          span.card-object.shape0.color2.shading2
        .card.card-object.shape0.color2.shading2
          span.card-object.shape0.color2.shading2
        .card.card-object.shape0.color2.shading2
          span.card-object.shape0.color2.shading2
      .trio
        .correct
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color1.shading2
          span.card-object.shape0.color1.shading2
        .card.card-object.shape0.color2.shading2
          span.card-object.shape0.color2.shading2
      .trio.false
        .incorrect
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color1.shading2
          span.card-object.shape0.color1.shading2
    h3 Shape
    .shape-rules
      .trio
        .correct
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
      .trio
        .correct
        .card.card-object.shape1.color0.shading2
          span.card-object.shape1.color0.shading2
        .card.card-object.shape1.color0.shading2
          span.card-object.shape1.color0.shading2
        .card.card-object.shape1.color0.shading2
          span.card-object.shape1.color0.shading2
      .trio
        .correct
        .card.card-object.shape2.color0.shading2
          span.card-object.shape2.color0.shading2
        .card.card-object.shape2.color0.shading2
          span.card-object.shape2.color0.shading2
        .card.card-object.shape2.color0.shading2
          span.card-object.shape2.color0.shading2
      .trio
        .correct
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape1.color0.shading2
          span.card-object.shape1.color0.shading2
        .card.card-object.shape2.color0.shading2
          span.card-object.shape2.color0.shading2
      .trio.false
        .incorrect
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape2.color0.shading2
          span.card-object.shape2.color0.shading2
    h3 Number
    .number-rules
      .trio
        .correct
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
      .trio
        .correct
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
      .trio
        .correct
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
      .trio
        .correct
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
      .trio.false
        .incorrect
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
    h3 Shade
    .shade-rules
      .trio
        .correct
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
      .trio
        .correct
        .card.card-object.shape0.color0.shading0
          span.card-object.shape0.color0.shading0
        .card.card-object.shape0.color0.shading0
          span.card-object.shape0.color0.shading0
        .card.card-object.shape0.color0.shading0
          span.card-object.shape0.color0.shading0
      .trio
        .correct
        .card.card-object.shape0.color0.shading1
          span.card-object.shape0.color0.shading1
        .card.card-object.shape0.color0.shading1
          span.card-object.shape0.color0.shading1
        .card.card-object.shape0.color0.shading1
          span.card-object.shape0.color0.shading1
      .trio
        .correct
        .card.card-object.shape0.color0.shading2
          span.card-object.shape0.color0.shading2
        .card.card-object.shape0.color0.shading0
          span.card-object.shape0.color0.shading0
        .card.card-object.shape0.color0.shading1
          span.card-object.shape0.color0.shading1
      .trio.false
        .incorrect
        .card.card-object.shape0.color0.shading0
          span.card-object.shape0.color0.shading0
        .card.card-object.shape0.color0.shading0
          span.card-object.shape0.color0.shading0
        .card.card-object.shape0.color0.shading1
          span.card-object.shape0.color0.shading1
    h3 Other Cominbations
    .combination-rules
      .trio
        .correct
        .card.card-object.shape0.color2.shading2
          span.card-object.shape0.color2.shading2
        .card.card-object.shape1.color0.shading1
          span.card-object.shape1.color0.shading1
          span.card-object.shape1.color0.shading1
          span.card-object.shape1.color0.shading1
        .card.card-object.shape2.color1.shading0
          span.card-object.shape2.color1.shading0
          span.card-object.shape2.color1.shading0
      .trio
        .correct
        .card.card-object.shape2.color2.shading1
          span.card-object.shape2.color2.shading1
          span.card-object.shape2.color2.shading1
        .card.card-object.shape0.color2.shading1
          span.card-object.shape0.color2.shading1
          span.card-object.shape0.color2.shading1
        .card.card-object.shape1.color2.shading1
          span.card-object.shape1.color2.shading1
          span.card-object.shape1.color2.shading1
      .trio
        .correct
        .card.card-object.shape0.color1.shading2
          span.card-object.shape0.color1.shading2
        .card.card-object.shape2.color0.shading0
          span.card-object.shape2.color0.shading0
        .card.card-object.shape1.color2.shading1
          span.card-object.shape1.color2.shading1
      .trio
        .correct
        .card.card-object.shape1.color1.shading0
          span.card-object.shape1.color1.shading0
        .card.card-object.shape1.color1.shading1
          span.card-object.shape1.color1.shading1
          span.card-object.shape1.color1.shading1
        .card.card-object.shape1.color1.shading2
          span.card-object.shape1.color1.shading2
          span.card-object.shape1.color1.shading2
          span.card-object.shape1.color1.shading2
      .trio.false
        .incorrect
        .card.card-object.shape0.color2.shading1
          span.card-object.shape0.color2.shading1
        .card.card-object.shape2.color0.shading1
          span.card-object.shape2.color0.shading1
          span.card-object.shape2.color0.shading1
        .card.card-object.shape1.color1.shading2
          span.card-object.shape1.color1.shading2
          span.card-object.shape1.color1.shading2
          span.card-object.shape1.color1.shading2
  section#instructions-game-controls
    h3 Selecting Cards
    .selecting-cards
      p Click on a card to select it.
      p Click again to deselect the card.
      p Select three cards to form a trio.
    h3 Drawing More Cards
    .drawing-cards
      p Click on the Tttrio deck.
      p To prevent card spamming, you need 2/3 majority of players to click on the deck to draw more cards.
    h3 Starting a New Game
    .starting-new-game
      p Click on the reset button under the balloons.
      p Note: On iPhone there is currently no way to start a new game.