doctype 5
html
  head
    title=title
    meta(name='description', content=description)
    meta(name='viewport', content='width=device-width; initial-scale=1.0;')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(names='apple-mobile-web-app-status-bar-style', content='black-translucent')

    meta(property='fb:app_id', content='273726349334428')
    meta(property='og:title', content=title)
    meta(property='og:type', content='game')
    meta(property='og:url', content='http://tttrio.com')
    meta(property='og:image', content='http://tttrio.com/images/logo.png')
    meta(property='og:site_name', content='Tttrio')
    meta(property='og:description', content=description)

    link(rel='icon', href='/images/favicon.png', sizes='64x64')
    link(rel='apple-touch-icon', href='/images/favicon.png')
    link(type='text/css', rel='stylesheet', href='/css/nurd.css', media='screen, handheld')
    script(src='/js/lib/jquery-1.4.3.js')
    script(src='/js/lib/underscore.js')
    script(src='/js/lib/jade.min.js')
    script(src='/js/jade-templates.js')
    script(src='/js/lib/modernizr-2.0.6.js')
    script(src='/jsutil.js')
    script(src='/EventEngine.js')
    script(src='/js/EventEngineHttpClient.js')
    script(src='/js/ChatClient.js')
    script(src='/js/GameClient.js')

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13105739-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    block content
  
  