- placeholder.define('title', 'Lobby')
- placeholder.define('subtitle', 'Nurd Lobby')

.solo Solo
    .btn(action="start-solo-game") Solo
.multiplayer Multiplayer
    .btn(action="start-multi-game-small") Small
    .btn(action="start-multi-game-large") Large