.name-form-overlay
  h3
    img(src="/images/logo.png", alt="Tttrio - A fast real-time multiplayer pattern-matching game to hone your logical skills")
  h4 A fast real-time multiplayer pattern-matching game to hone your logical skills
  form(id="name-change-form", action="" )
    label(for="name-field") Name
    input(type="text", id="name-field", name="name", value="", placeholder="Enter Name" )
    br
    button#change-name-btn(type="submit") Enter